.karaoke-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
  color: white;
  padding: 2rem;
  position: relative;
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-color: var(--accent-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  z-index: 10;
}


.firefly-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}


.firefly {
  position: absolute;
  width: 10px;
  height: 10px;
  background: radial-gradient(circle, #e62fd3, #f03ae4, transparent);
  border-radius: 50%;
  filter: blur(32px);
  opacity: 0.6;
  animation: drift 10s infinite ease-in-out;
}

.firefly::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #ff3dc2;
}

@keyframes drift {
  0% {
    transform: translate(0, 0) scale(0.5);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translate(100vw, 50vh) scale(1);
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translate(-50vw, -100vh) scale(0.3);
    opacity: 0;
  }
}
