
.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;          
    align-items: center;              
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}
  
  
.title-text {
    font-size: 6rem;
    font-weight: 700;
    background: linear-gradient(45deg, #e7166b, #821ced);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.25rem;
}

.slogan-text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.5rem;
}
  /* index.css or LandingPage.css */
.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  