.song-list-page {
  display: flex;
  height: 90vh;
  width: 95vw;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font);

}

.divider {
  width: 1px;
  background-color: #2a2d30;
  height: 100%;
  margin-right: 30px;
}

.song-list {
  flex: 1;
  padding: 24px 0;
  overflow-y: auto;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.song-card-label {
  display: flex;
  align-items: left;
  padding: 16px 55px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
  color: var(--header-color);
  border-bottom: 1px solid grey;
  background-color: var(--background-color);
}

.label-spacer {
  width: 96px;
  flex-shrink: 0;
}

.label-meta {
  display: flex;
  width: 100%;
}

.label-title,
.label-artist,
.label-genre,
.label-year {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-title {
  width: 32%;
}
.label-artist {
  width: 23%;
}
.label-genre {
  width: 24%;
}
.label-year {
  width: 14%;
}
